@{
    ViewData["Title"] = "Lista de Usuarios"; ; // Asumiendo que el modelo es una lista de usuarios
}
<h2 class="mb-4">Lista de Usuarios</h2>
<div>
    <a asp-action="CrearUsuario" class="btn btn-primary mb-3">Agregar Usuario</a>
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.NombreUsuario</td>
                <td>@usuario.ApellidoUsuario</td>
                <td>@usuario.Email</td>
                <td>@usuario.RolUsuario</td>
                <td class="dropdown text-center">
                    <div class="dropdown-toggle" data-bs-toggle="dropdown" style="cursor: pointer;">
                        <i class="bi bi-three-dots"></i>
                    </div>
                    <ul class="dropdown-menu shadow">
                        <li>
                            <a class="dropdown-item text-primary" asp-action="EditarUsuario" asp-route-id="@usuario.Id">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                        </li>
                        <li>
                            <form asp-action="EliminarUsuario" asp-route-id="@usuario.Id" method="post"
                                onsubmit="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">
                                <button type="submit" class="dropdown-item text-danger">
                                    <i class="bi bi-trash"></i> Eliminar
                                </button>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>