@model IEnumerable<Tp_inmobiliaria.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<div class="text-center">
    <h1 class="display-4">Lista de Inmuebles</h1>
</div>
<div class="mb-3">
     <a type="button" class="btn btn-success mb-3" asp-action="AgregarInmueble">Agregar Inmueble</a>
      <a type="button" class="btn btn-success mb-3" asp-controller="TipoInmueble" asp-action="index">Tipos de inmuebles</a>
</div>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Dirección</th>
            <th>Uso</th>
            <th>Ambientes</th>
            <th>Coordenadas</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Propietario</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Id</td>
            <td>@i.Direccion</td>
            <td>@i.Uso</td>
            <td>@i.Ambientes</td>
            <td>@i.Coordenadas</td>
            <td>@i.Precio</td>
            <td>@i.Estado</td>
            <td>@i.IdPropietario</td>
            <td>@i.IdTipo</td>
            <td>
                <a class="btn btn-success btn-sm me-1" asp-action="EditarInmueble" asp-route-id="@i.Id">
                    <i class="bi bi-pencil-square"></i> Editar
                </a>
                <a class="btn btn-danger btn-sm" asp-action="EliminarInmueble" asp-route-id="@i.Id">
                    <i class="bi bi-trash"></i> Eliminar
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>