@model IEnumerable<Tp_inmobiliaria.Models.Propietario>
@{
    ViewData["Title"] = "Propietario";
}

<div class="text-center">
    <h1 class="display-4">Lista de Propietarios</h1>
</div>
<table class="table table-striped, table table-hover">
    <a type="button" class="btn btn-primary" asp-action="AgregarPropietario">Agregar Propietario</a>
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Dni</td>
            <td>@p.Apellido</td>
            <td>@p.Nombre</td>
            <td>@p.Telefono</td>
            <td>@p.Email</td>
            <td>@p.Direccion</td>
            <td><a type="button" class="btn btn-primary" asp-action="EditarPropietario" asp-route-id="@p.Id" >Editar</a></td>
            <td><a type="button" class="btn btn-danger" asp-action="EliminarPropietario" asp-route-id="@p.Id" >Eliminar</a></td>
        </tr>
    }
    </tbody>
</table>