@model IEnumerable<Tp_inmobiliaria.Models.Inquilinos>
@{
    ViewData["Title"] = "Inquilinos";
}

<div class="text-center">
    <h1 class="display-4">Lista de Inquilinos</h1>
</div>
<table class="table table-striped,  table table-hover">
    <a type="button" class="btn btn-success" asp-action="AgregarInquilino">Agregar Inquilino</a>
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Dirección</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Id</td>
            <td>@p.Dni</td>
            <td>@p.Nombre</td>
            <td>@p.Telefono</td>
            <td>@p.Email</td>
            <td>@p.Direccion</td>
            <td><a type="button" class="btn btn-success" asp-action="EditarInquilino" asp-route-id="@p.Id" >Editar</a></td>
            <td><a type="button" class="btn btn-danger" asp-action="EliminarInquilino" asp-route-id="@p.Id" >Eliminar</a></td>
        </tr>
    }
    </tbody>
</table>